.header{
	height: 60px !important;
	background-color: #23262e;
	color: #fff;
	align-items: center;
}
.logo{
	line-height: 60px;
	font-size: 22px;
	width: 200px;
	text-align: center;
	letter-spacing: 3px;
}
.header .el-tabs__header {
	margin: 0;
}
.header .el-tabs__item{
	color: #ddd;
	padding: 0 18px;
	height: 58px;
	line-height: 58px;
}
.header .el-tabs__header{
	border: none;
	margin: 0;
}
.header .el-tabs__item:hover{
	color: #fff;
	background: #393D49;
}
.header .el-tabs__item.is-active{
	color: #fff;
}
.header .el-tabs__active-bar {
	background-color: #5FB878;
	height: 4px;
}