.header {
    display: flex;
    background-color: #292323;
    align-items: center;
}

header img {
    width: 180px;
    height: 43px;
}

header .el-tabs__header {
    margin: 0;
}

header .el-tabs__item {
    color: #ccc;
}

header .el-tabs__item .is-active {
    color: #fff;
}

header .el-tabs__active-bar {
    background-color: #ff5600;
}
