.main {
    flex: 1;
    margin: 10px;

    & > .el-tabs {
        min-height: 100%;
    }

    & .el-tabs__nav > :first-child {
        & .el-icon-close {
            visibility: hidden;
        }
    }

    & .el-tabs__header {
        background-color: #fff4f4;
    }
}
