
.leftmenu{
	width: 200px;
	height: 100%;
	background: #23262E;
	overflow: hidden;
	color: #ddd;
}
.leftmenu dd{
	padding: 18px;
	border-left: 4px solid #23262E;
}
.leftmenu dd.on {
	border-color: #5FB878;
}
.leftmenu>dl dd:hover {
    background-color: #5d4d4d;
}

.leftmenu>dl dd.on {
    border-color: #ff5600;
}

.leftmenu dt {
    align-self: center;
}

.leftmenu i {
    position: absolute;
    right: 0;
    font-size: 36px;
    top: 50%;
    right: -25px;
    /*color: #ff5600;*/
}
.leftmenu dd:hover{
	color: #fff;
	background: #393D49;
	border-color: #5FB878;
}