.leftmenu {
    background-color: #292323;
    position: relative;
}

.leftmenu>dl {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    cursor: pointer;
    align-items: center;
    overflow: hidden;
}

.leftmenu>dl dd {
    padding: 15px 0;
    width: 100%;
    font-size: 12px;
    text-indent: 20px;
    border-left: 5px solid #292323;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.leftmenu>dl dd:hover {
    background-color: #5d4d4d;
}

.leftmenu>dl dd.on {
    border-color: #ff5600;
}

.leftmenu dt {
    align-self: center;
}

.leftmenu i {
    position: absolute;
    right: 0;
    font-size: 36px;
    top: 50%;
    right: -25px;
    /*color: #ff5600;*/
}
