#app,
body,
html {
	height: 100%;
	margin: 0;
	-webkit-tap-highlight-color: transparent;
	font-family: "Helvetica Neue", Helvetica, "PingFang SC", 微软雅黑, Tahoma, Arial, sans-serif;
	min-width: 1500px;
}

dl,
p {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}

dd {
	-webkit-margin-start: 0;
}

body {
	padding: 0px;
	margin: 0px auto;
}

a {
	text-decoration: none;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
blockquote, body, button, dd, div, dl, dt, form, h1, h2, h3, h4, h5, h6, input, li, ol, p, pre, td, textarea, th, ul{
	margin: 0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}