#app,
body,
html {
	height: 100%;
	margin: 0;
	-webkit-tap-highlight-color: transparent;
	font-family: "Helvetica Neue", Helvetica, "PingFang SC", 微软雅黑, Tahoma, Arial, sans-serif;
	min-width: 1400px;
}

dl,
p {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}

dd {
	-webkit-margin-start: 0;
}

body {
	padding: 0px;
	margin: 0px auto;
}

a {
	text-decoration: none;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}